<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>pagination</title>
</head>
<body>
<th:block>
    <nav th:fragment="pagination">
        <ul class="pagination">
            <li th:if="${page.first}" class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
            <li th:if="${!page.first}" class="page-item">
                <a th:href="@{/index(page = ${page.number}-1)}" class="page-link">Previous</a>
            </li>
            <th:block th:each="i : ${#numbers.sequence(0,page.totalPages-1)}">
                <li th:if="${i}==${page.number}" class="page-item active">
                    <span th:text="${i+1}" class="page-link"></span>
                </li>
                <li th:if="${i}!=${page.number}" class="page-item">
                    <a th:href="@{/index(page=${i})}" th:text="${i+1}" class="page-link"></a>
                </li>
            </th:block>
            <li th:if="${page.last}" class="page-item disabled">
                <span class="page-link">Next</span>
            </li>
            <li th:if="${!page.last}" class="page-item">
                <a th:href="@{/index(page = ${page.number}+1)}" class="page-link">Next</a>
            </li>
        </ul>
    </nav>
</th:block>
</body>
</html>